:root {
  --primary-color: #7a3cff;
}

::selection {
  color: #fff;
  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

#page {
  min-height: calc(100vh - (80px + 40px));
}

a {
  text-decoration: none;
  color: #666;
}

hr {
  display: none;
  border: 0.5px solid #d7d7d7;
}

/* Navbar start */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.nav-logo a i {
  display: inline;
  color: var(--primary-color);
  margin-right: 10px;
}

.nav-logo a {
  font-size: 25px;
  font-weight: 600;
  color: #333;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.1s ease;
}

.menu-icon:hover {
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 5px 10px;
  transition: 0.1s ease;
  margin-left: 10px;
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-link.highlight {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-left: 15px;
}

.nav-link.highlight:hover {
  color: #fff;
  filter: brightness(1.2);
}

.nav-link:hover {
  color: var(--primary-color);
}

.header {
  color: #fff;
  text-align: center;
  background: no-repeat
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(122, 60, 255, 0.2)),
    url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940');
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 15px;
  height: 40vh;
  min-height: 300px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 35px;
  margin-bottom: 5px;
}

.header h3 {
  font-size: 30px;
  font-weight: 500;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
}

.recipe-tags {
  flex: 2;
}

.recipe-tags.rp {
  flex: 1.5;
  padding-left: 50px;
  margin-top: 50px;
  text-align: right;
}

.recipe-tags ul {
  list-style: none;
  margin-top: 10px;
}

.recipe-tags ul li {
  margin-bottom: 5px;
}

.recipes-section {
  flex: 10;
}

.recipes-section h2 {
  margin-bottom: 10px;
}

.recipe-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.recipe-card {
  color: #000;
  margin-bottom: 20px;
}

.recipe-card:hover > .recipe-thumbnail {
  filter: brightness(0.9);
}

.recipe-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 10;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.2s ease;
}

.recipe-time {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 20px;
}

.section-text {
  margin-right: 40px;
}

.section-text h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.section p {
  font-size: 20px;
  line-height: 28px;
}

.section-image {
  width: 400px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px;
}

.section.reverse {
  flex-direction: row-reverse;
}

.section.reverse .section-text {
  margin-right: 0;
  margin-left: 40px;
}

.contact {
  text-align: center;
}

.contact-text {
  font-size: 18px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 40px;
  transition: 0.1s ease;
}

.contact-text:hover {
  filter: brightness(0.9);
}

.contact-page {
  display: flex;
}

.form-section {
  flex: 4;
}

.form-section form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-section input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
}

.form-section input:focus {
  outline: none;
}

.form-section textarea {
  margin: 5px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  resize: vertical;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}

.form-section textarea:focus {
  outline: none;
}

.form-section button {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.contact-text-section {
  flex: 6;
  padding: 40px;
  margin-top: 20px;
}

.contact-text-section h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.contact-text-section p {
  font-size: 18px;
}

footer {
  height: 40px;
  text-align: center;
  background-color: #fff;
}

footer a {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  hr {
    display: block;
    margin: 10px;
  }

  .main-content {
    flex-direction: column-reverse;
  }

  .main-content.rp {
    flex-direction: column;
  }

  .recipe-tags.rp {
    padding-left: 10px;
    margin: 0;
    text-align: left;
  }
}

@media (max-width: 870px) {
  .section-text h1 {
    font-size: 35px;
  }

  .section-text p {
    font-size: 16px;
    line-height: 24px;
  }

  .section-image {
    aspect-ratio: 1 / 1;
  }

  .contact-page {
    flex-direction: column-reverse;
  }

  .form-section form {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
  }

  .nav-links li {
    width: 100%;
    margin: 0;
  }

  .nav-link {
    display: block;
    margin: 0;
    margin-bottom: 2px;
    padding-bottom: 10px;
  }

  .nav-link.highlight {
    background-color: transparent;
    color: #666;
    margin-left: 0;
  }

  .nav-link.highlight:hover {
    color: var(--primary-color);
  }

  .menu-icon {
    display: block;
  }

  .recipe-cards {
    grid-template-columns: 1fr 1fr;
  }

  .section {
    flex-direction: column;
    justify-content: center;
  }

  .section-text {
    margin-bottom: 20px;
  }

  .section-text h1 {
    font-size: 35px;
  }

  .section-text p {
    font-size: 18px;
    line-height: 24px;
  }

  .section-image {
    width: 100%;
    aspect-ratio: 3 / 2;
  }

  .section.reverse {
    flex-direction: column;
  }

  .section.reverse .section-text {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .recipe-cards {
    grid-template-columns: 1fr;
  }
}
