:root {
  --primary-color: #7a3cff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #666;
}

/* Navbar start */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 40px;
}

.nav-logo a i {
  display: inline;
  color: var(--primary-color);
  margin-right: 10px;
}

.nav-logo a {
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 5px 10px;
  transition: 0.1s ease;
  margin-left: 10px;
}

.nav-link.highlight {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin-left: 15px;
}

.nav-link.highlight:hover {
  color: #fff;
  filter: brightness(1.2);
}

.nav-link:hover {
  color: var(--primary-color);
}
/* Navbar end */
